<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>please login</h1>
    <form class="" action="/authorization" method="post">
      <div class="">
        <input type="text" name="username" value="" placeholder="USERNAME">
      </div>
      <div class="">
        <input type="password" name="password" value="" placeholder="PASSWORD">
        </div>
        <div class="">
          <input type="submit" name="" value="SIGN IN">
          </div>
    </form>
  </body>
</html>
